$color-primary-cyan: hsl(185, 75%, 39%);
$color-primary-blue: hsl(229, 23%, 23%);
$color-primary-grey: hsl(227, 10%, 46%);

$color-grey: hsl(0, 0%, 59%);

$bp-desktop: 1440px;
$bp-mobile: 375px;

$font-size-small: 1.2rem;
$font-size-default: 1.6rem;
$font-size-big: 1.8rem;
